.body-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.input-container {
  display: flex;
  justify-content: center;
}

.chart-container {
  width: 50%;
}
